<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uträknare</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <a style=" text-decoration:none" href={{url_for("pizza")}}><h1 class="pizza-title-text">PIZZA</h1><img class="chooser-pizza-img" src="{{url_for('static',filename='pizza_3.jpg')}}"> </a>

    <a  style=" text-decoration:none" href={{url_for("sourdough")}}><h1 class="surdeg-title-text">SURDEG</h1> <img class="chooser-surdeg-img" src="/static/sourdough.jpg"> </a>
</body>
</html>